<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
    <ion-button  slot="start"  fill="clear">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="container">
    <ion-row>
      <ion-item class="between">
        <ion-input type="text" placeholder="Email" [(ngModel)]="id"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item class="between">
        <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-row>
    
    <ion-button class="between" (click)="onLogin()" expand="block"  shape="block" color="primary" >
      Login
    </ion-button>
    <ion-button class="between" [routerLink]="['/register']"   expand="block"  shape="block"  color="secondary" >
      Register
    </ion-button>
  </div>
 
</ion-content>
