<ion-header>
  <ion-toolbar>
    <ion-button  slot="start"  fill="clear">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-button>
    <ion-title>Task-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let i of (tasks)">
      <ion-icon src={{i.icon}} slot="start"></ion-icon>
      <ion-label>{{i.name+" ("+i.limit+")"}}</ion-label>
      <ion-button  (click)="onRemove(i)"  shape="round" color="primary">
        <ion-icon name="remove-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item >
      <ion-label>{{"Point: "+rate}}</ion-label>
      <ion-button size="default"  shape="round">
        Confirm
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>

