<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
    <ion-button (click)="goBack()" fill="clear">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="text" [(ngModel)]="id"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Confirm password</ion-label>
    <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
  </ion-item>
  <ion-button (click)="onSingup()" expand="block"  shape="block" color="primary" >
    Singup
  </ion-button>
</ion-content>
